.preview-default {
  display: flex;
  justify-content: center;
  align-items: center;

  &__canvas {
    display: block;
    width: 620px;
    height: 620px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
